.YotaPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}

.YotaTableContainer-root {
    width: 100%;
    overflow-x: auto;
}

.YotaPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.YotaPaper-rounded {
    border-radius: 4px;
}

.YotaTable-root {
    width: 100%;
    display: table;
    border-spacing: 0;
    border-collapse: collapse;
}

table {
    display: table;
    /*
    border-collapse: separate;
    */
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}


/*
.YotaTableRowStriped:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.04);
}
*/

.YotaTableRowStriped tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.04);
}

.YotaTableRowHover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.YotaTableCellSizeSmall td,
.YotaTableCellSizeSmall th {
    padding: 6px 16px 6px 16px;
}


/*
.YotaTableCellBorder td,.YotaTableCellBorder
th {
    border: 1px solid rgba(224, 224, 224, 1);
}
*/

.YotaTableCellBorder {
    border-collapse: collapse;
    border-style: hidden;
}

.YotaTableCellBorder td,
.YotaTableCellBorder th {
    border: 1px solid rgba(224, 224, 224, 1);
}

.YotaTableHead-root {
    display: table-header-group;
}

.YotaTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.YotaTableCell-root {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}

.YotaTableCell-head {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

.YotaTableCell-alignRight {
    text-align: right;
    flex-direction: row-reverse;
}

.YotaTableBody-root {
    display: table-row-group;
}

.YotaTableRow-root {
    color: inherit;
    display: table-row;
    outline: 0;
    vertical-align: middle;
}

.YotaTableCell-body {
    color: rgba(0, 0, 0, 0.87);
}

@media screen and (max-width: 600px) {
    .YotaPaper-rounded {
        border-radius: 4px;
    }
    .YotaTable-root {
        border: 0;
    }
    .YotaPaper-elevation1 {
        box-shadow: none;
    }
    .YotaTableHead-root {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .YotaTableRow-root {
        color: inherit;
        display: block;
        outline: 0;
        border-bottom: 4px solid rgba(224, 224, 224, 1);
        border-right: 1px solid rgba(224, 224, 224, 1);
        border-left: 1px solid rgba(224, 224, 224, 1);
        margin-bottom: 0.625em;
    }
    /*table td */
    .YotaTableCell-root {
        display: block;
        padding: 16px;
        font-size: .75rem;
        text-align: justify;
        /* For Edge */
        text-align-last: right;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.43;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        letter-spacing: 0.01071em;
    }
    .YotaTableCell-root::before {
        content: attr(data-label) " ";
        /*" : "*/
        float: left;
        margin-right: 2rem;
        color: rgba(0, 0, 0, 0.87);
        font-weight: 500;
        text-transform: uppercase;
    }
    .YotaTableCell-root:last-child {
        border-bottom: 0;
    }
}
