div >#yrneh-table {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
        0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#yrneh-table > table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;

    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;

}

#yrneh-table > table caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
}

#yrneh-table > table thead {
    color: rgba(0, 0, 0, 0.87);
    font-weight: 500;
    line-height: 1.5rem;
}

#yrneh-table > table tr {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 0.35em;
}

#yrneh-table > table th,
#yrneh-table > table td {
    padding: 0.625em;
    
    text-align: left;
    
}

#yrneh-table > table th {
    /*font-size: 0.85em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    */
}

@media screen and (max-width: 600px) {
    div >#yrneh-table {
        box-shadow: none;
    }

    #yrneh-table > table {
        border: 0;

        padding: 16px;
        font-size: 0.875rem;
        text-align: left;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 400;
        line-height: 1.43;
        border-bottom: 1px solid rgba(224, 224, 224, 1);
        letter-spacing: 0.01071em;
        vertical-align: inherit;
    }
    #yrneh-table > table caption {
        font-size: 1.3em;
    }
    #yrneh-table > table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    #yrneh-table > table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 0.625em;
    }
    #yrneh-table > table td {
        border-bottom: 1px solid #ddd;
        display: block;
        /*font-size: 0.8em;*/
        text-align: right;
    }
    #yrneh-table > table td::before {
        /*
          * aria-label has no advantage, it won't be read inside a table
          content: attr(aria-label);
          */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    #yrneh-table > table td:last-child {
        border-bottom: 0;
    }
}
